In [20]:
import pandas as pd

df = pd.read_table('/mnt/eqa/zhangyuanfeng/methylation/dna_methylation_smk/test/example.tsv')
df

,FNAME,TRIMMER,QC_REPORTER,ALIGNER,DEDUPER,RECALIBRATE,COUNTER,STATS
0,abc,fastp,falco,bismark_bowtie2,bismark,True,bismark,True
1,def,NaN,falco,bismark_bowtie2,bismark,True,bismark,True

In [2]:
df.dtypes

FNAME           object
 TRIMMER        object
 QC_REPORTER    object
ALIGNER         object
 DEDUPER        object
 RECALIBRATE      bool
COUNTER         object
 STATS            bool
dtype: object

In [23]:
for _, i in df.iterrows():
    print('=' * 50)
    print(i)
    print(pd.isna(i['TRIMMER']))

==================================================
FNAME                      abc
TRIMMER                  fastp
QC_REPORTER              falco
ALIGNER        bismark_bowtie2
DEDUPER                bismark
RECALIBRATE               True
COUNTER                bismark
STATS                     True
Name: 0, dtype: object
False
==================================================
FNAME                      def
TRIMMER                    NaN
QC_REPORTER              falco
ALIGNER        bismark_bowtie2
DEDUPER                bismark
RECALIBRATE               True
COUNTER                bismark
STATS                     True
Name: 1, dtype: object
True

In [24]:
pd.isna('wtf')

False