In [6]:
import pandas as pd

df = pd.read_table('/mnt/eqa/zhangyuanfeng/methylation/dna_methylation_smk/test/example.tsv')
df

,FNAME,TRIMMER,QC_REPORTER,ALIGNER,DEDUPER,RECALIBRATE,COUNTER,STATS
0,abc,fastp,falco,bismark_bowtie2,bismark,True,bismark,True
1,def,NaN,falco,bismark_bowtie2,bismark,True,bismark,True

In [2]:
df.dtypes

FNAME          object
TRIMMER        object
QC_REPORTER    object
ALIGNER        object
DEDUPER        object
RECALIBRATE      bool
COUNTER        object
STATS            bool
dtype: object

In [23]:
for _, i in df.iterrows():
    print('=' * 50)
    print(i)
    print(pd.isna(i['TRIMMER']))

==================================================
FNAME                      abc
TRIMMER                  fastp
QC_REPORTER              falco
ALIGNER        bismark_bowtie2
DEDUPER                bismark
RECALIBRATE               True
COUNTER                bismark
STATS                     True
Name: 0, dtype: object
False
==================================================
FNAME                      def
TRIMMER                    NaN
QC_REPORTER              falco
ALIGNER        bismark_bowtie2
DEDUPER                bismark
RECALIBRATE               True
COUNTER                bismark
STATS                     True
Name: 1, dtype: object
True

In [24]:
pd.isna('wtf')

False

In [3]:
d = {'a': [1, 2, 3], 'b': [4, 5, 6]}

In [4]:
d.get('c', 'None')

'None'

In [3]:
tool_config = ({
            'trimmer': {
                'fastp': [f'result/trimmed/fastp/x.R1.fq.gz',
                          f'result/trimmed/fastp/x.R2.fq.gz',
                          f'result/trimmed/fastp/x.fastp.json',
                          f'result/trimmed/fastp/x.fastp.html'],
                'trim_galore': [f'result/trimmed/trim_galore/x.R1.fq.gz',
                                f'result/trimmed/trim_galore/x.R2.fq.gz',
                                f'result/trimmed/trim_galore/x_trimming_report.txt']
            },
            'qc_reporter': {
                'fastqc': [f'result/qc/fastqc/x.R1_fastqc.html',
                           f'result/qc/fastqc/x.R2_fastqc.html'],
                'falco': [f'result/qc/falco/x.R1_falco.html',
                          f'result/qc/falco/x.R2_falco.html']
            },
            'aligner': {
                'bismark_bowtie2': [f'result/aligned/bismark_bowtie2/x.bam'],
                'bismark_hisat2': [f'result/aligned/bismark_hisat2/x.bam'],
                'bwa_meth': [f'result/aligned/bwa_meth/x.bam'],
                'bwa_meme': [f'result/aligned/bwa_meme/x.bam'],
                'biscuit': [f'result/aligned/biscuit/x.bam'],
                'bsmapz': [f'result/aligned/bsmapz/x.bam'],
                'dnmtools': [f'result/aligned/dnmtools/x.bam']
            },
        })

In [5]:
[file_path for file_list in tool_config['qc_reporter'].values() for file_path in file_list]

['result/qc/fastqc/x.R1_fastqc.html',
 'result/qc/fastqc/x.R2_fastqc.html',
 'result/qc/falco/x.R1_falco.html',
 'result/qc/falco/x.R2_falco.html']

In [11]:
import numpy as np
import pandas as pd

data = {
    'FNAME': ['file1', np.nan, 'file3'],
    'TRIMMER': ['trim1', 'trim2', np.nan],
    'QC_REPORTER': ['qc1', np.nan, 'qc3'],
    'ALIGNER': ['align1', 'align2', np.nan],
    'DEDUPER': [np.nan, 'dedupe2', np.nan],
    'RECALIBRATE': ['recal1', np.nan, 'recal3'],
    'COUNTER': ['count1', 'count2', np.nan],
    'STATS': ['stat1', 'stat2', 'stat3']
}
df = pd.DataFrame(data)
df

   FNAME TRIMMER QC_REPORTER ALIGNER  DEDUPER RECALIBRATE COUNTER  STATS
0  file1   trim1         qc1  align1      NaN      recal1  count1  stat1
1    NaN   trim2         NaN  align2  dedupe2         NaN  count2  stat2
2  file3     NaN         qc3     NaN      NaN      recal3     NaN  stat3

In [18]:
def clear_after_nan(row):
    # Iterate through the first to the third last column
    for col_idx in range(len(row)):
        if pd.isna(row.iloc[col_idx]):
            # If NaN is found, set all following columns (except the last two) to NaN
            row.iloc[col_idx + 1:] = np.nan
            break
    return row

df.apply(clear_after_nan, axis=1)

   FNAME TRIMMER QC_REPORTER ALIGNER  DEDUPER  RECALIBRATE  COUNTER  STATS
0  file1   trim1         qc1  align1      NaN          NaN      NaN    NaN
1    NaN     NaN         NaN     NaN      NaN          NaN      NaN    NaN
2  file3     NaN         NaN     NaN      NaN          NaN      NaN    NaN